header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

#banner {
	width: 100%;
	margin: 0 0;
}

.principal {
	padding: 60px;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	margin: 0 0;
}

.titulo-centralizado {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 23px;
}

p {
	text-align: center;
}

#missao {
	font-size: 23px;
	padding: 8px;
	font-style: italic;
}

em strong {
	color: #C78C19;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.beneficios-itens {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-right: 15%;
	margin-left: 5%;
}

.beneficios-itens li {
	padding: 10px;
}

.itens {
	font-size: 25px;
}

.imagembeneficios {
	width: 45%;
}

footer {
	text-align: center;
	background: url("imagens/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}